:root {
    --clr-primary-700: #1F2937;
    --clr-primary-400: #3882F6;
    --clr-primary-200: #E5E7EB;
    --clr-primary-100: #F9FAF8;

    --ff-primary: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ff-primary);
}

header,
.bg-dark {
    background-color: var(--clr-primary-700);
}

.btn {
    width: 8em;
    padding: 0.4em 1.5em;
    color: var(--clr-primary-100);
    font-weight: 600;
    background-color: var(--clr-primary-400);
    border: none;
    border-radius: 0.35em;
    cursor: pointer;
}

/* Header */

header {
    padding: 0.5em 10em;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--clr-primary-100);
}

.links {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-primary-200);
}

/* section.bg-dark */

.bg-dark {
    padding: 5em 0;
    display: flex;
    justify-content: center;
}

.description {
    padding: 1em;
    width: 20em;
}

.image {
    padding: 1em;
    max-width: 25em;
}

h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: var(--clr-primary-100)
}

.description > p {
    margin: 0 0 0.5em 0;
    font-size: 1rem;
    color: var(--clr-primary-200);
}

img {
    width: 100%;
}

/* section.bg-light */

.bg-light > h2 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--clr-primary-700);
    text-align: center;
    align-items: center;
}

.cards {
    padding: 2em 0 7em 0;
    display: flex;
    gap: 3em;
    justify-content: center;
}

.card {
    width: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 90%;
    height: 8em;
    border: 3px solid var(--clr-primary-400);
    border-radius: 0.75em;
}

.card > p {
    margin: 0.25em;
}

/* section.bg-dark-accent */

.bg-dark-accent {
    padding: 8em 25em;
    background-color: var(--clr-primary-200);
}

.quote {
    margin: 0;
    font-size: 2rem;
    font-style: italic;
}

.author {
    font-weight: 900;
    text-align: right;
}

/* section.bg-light-accent */

.bg-light-accent {
    padding: 5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-accent {
    width: 60%;
    padding: 2em 5em;
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-100);
    border-radius: 0.5em;
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
}

.text > h2 {
    margin: 0;
    font-size: 1.5rem;
}

.text > p {
    margin: 0;
    font-size: 1rem;
    font-style: italic;
}

.secondary {
    border: 2px solid white;
}

/* footer */

footer {
    padding: 1em 0;
    background-color: var(--clr-primary-700);
    color: var(--clr-primary-100);
    display: flex;
    justify-content: center;
}